*{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html{
  width:100%;
  body{
    width:100%;
    
  }
}


.row{
  width:100%;
}
ul,li{
  list-style:none;
  margin:0;
  padding:0;
}
.page-section{
  height:900px;
  .content,.container{
    width:1000px;
    margin:0 auto;
  }
}

.page-wrapper{
  position:relative;
  overflow-x: hidden;
  .page{
    position:absolute;
    width:100%;
    display: none;
    background:#fff;
    &.active{
      display: block;
      left:0;
      top:0;
    }
  }
}

.social-icon{
  width:16px;
  height: 16px;
  display: inline-block;
  cursor:pointer;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
.clear{
  clear:both;
}


@mixin jScrollBar(){
  .jspVerticalBar{
    background:none;
  }
  .jspDrag{
    background:#999;
  }
  .jspTrack{
    background:url(../img/6/scroll-gb.png) repeat-y 2px 0 ;
  }
}

