#contact{
  .page-footer{
    padding-top:60px;
  }
  .container{
    .page-header{
      margin-bottom:50px;
    }
    .map{
      margin-left:50px;
    }
    .content{
      text-align: center;
      width:390px;
      margin-left:60px;
      p{
        margin:0;
        font-size:12px;
        font-family: "Microsoft YaHei";
      }
      .ml{
        margin-top:30px;
      }
      img{
        padding-top:30px;
      }
    }
  }
}