.top-nav-bar{
  width:100%;
  height: 50px;
  background:#222222;
  ul{
    float:left;
    li{
      display:inline-block;
      a{
        line-height: 50px;
        color:#ffffff;
        text-decoration: none;
        margin:0 25px;
      }
    }
  }
}