.top-nav-bar-light{
  &:after{
    content:'';
    clear:both;
  }
  .brand-row{
    width:1000px;
    margin:0 auto;
    text-align:center;
  }
  .nav-row{
    width:1000px;
    margin:0 auto;
    ul{
      float:left;
      li{
        display:inline-block;
        a{

          color:#222;
          text-decoration: none;
          //padding:2px 5px;
          margin:0 20px;
          &.active{
            border-bottom:1px solid #222222;
          }
        }
      }
    }//ul
  }//.nav-row
}