#shop{
  .container{
    ul.shop-menu {
      background: #f3f3f3;
      height: 60px;
      margin-top:30px;
      li {
        display: inline;
        padding: 0 20px;
        line-height: 60px;
        a {
          text-decoration: none;
          color: #666666;
          line-height: 60px;
          &.active, &:hover {
            color: #000;
          }
        }
      }
    }
    .map{
      .condition{
        width:400px;
        height:600px;
      }
      .map-container{
        width:600px;
        height:600px;
        #allmap{
          width:600px;
          height:600px;
        }
      }
    }

  }
}