include _functions
.page#contact
  include _nav_bar_light
  .container
    +PageHeader("CONTACT")

    img.map.fl(src="img/contact/map.png")
    .content.fl
      .ml
        p Hangzhou City Hang Road No. 1603 Italy / Milan Cosenzd
        p Street No. 13
        p 杭州市杭海路1603号 意大利/米兰市Cosenzd大街13号
      .ml
        p 芭蒂娜品牌热线：400-8933111
        p 招商热线：86 571-89190055
        p 新浪微博ID：娜利服饰-colove
      .ml
        p Design by:xianxiang
      .ml
        p Copyright © BADINA cd, 杭州芭蒂娜国际时装有限公司版权所有
        p 浙备：PC4585752
      img(src="img/contact/code.png")
  .clear
  include _page_footer