//
   Created by Handle.Huang on 8/28/2014.
mixin socialIcon(src)
  a.social-icon
    img(src=src alt=src)

mixin PageHeader(title)
  .page-header
    .title #{title}
    .split

mixin AboutAtricle()
  .content
    - for (var i =0; i < 10; i++)
      h4 品牌诠释
      p 诞生于意大利纯正轻奢风格的COLOVE（卡拉佛），传递“独立、悦己、分享”的精神主张，探求艺术情怀、先锋创意与实用主义成衣激情碰撞，呈现出自我、率性、利落、精致的精神气场与个性绽放的摩登风格。
      p 自我精神、个性分格是COLOVE（卡拉佛）品牌所推崇的时尚哲学，造型的出发原点是干净、简约却锐利的气场，廓形与线条透露着都会气息和女性个性的现代精神，强调利落整体感和绝对自信的强大气场。
      h4 对比冲撞
      p 复刻与未来，经典与摩登，女性与中性，热情与冷静，COLOVE（卡拉佛）迸发出充满矛盾的形容词，她是率性与优雅之间的矛盾综合体，但给的整体呈现却是迷人率性，浪漫不羁。
      h4 低调奢华
      p COLOVE（卡拉佛）不需要喧嚣的艳丽，而是个人风格的自信绽放。一种崭新概念的奢华在设计中低调绽放，重新诠释高级时装的穿法混搭概念，混合了高级与街头，更注重材质、剪裁和搭配性。
      h4 轻松时尚
      p 轻松自然，不过度夸张和张扬，平衡美感，落落大方却有着混搭的实验乐趣和各种个性的不同展现，使得每一个COLOVE（卡拉佛）女孩都是与众不同、独一无二的！
      p 她们是偶像、指标、先驱者，她们自信、率性、摩登、帅气，是优雅和清纯并存的混合体，自信型格，COLOVE（卡拉佛）就是这个时代的引领者和先驱者。在超现实帝国的逆光苍穹中，COLOVE将始终以超前的文化艺术引导着主流时尚，打响品牌行业领袖地位、领袖态度和领袖意见，确立品牌国际化概念和特色概念并可持续创新， 展现出意大利理想艺术的文化烙印，让每一位拥有它的都市女性成为自己生活的设计者与主宰者！


