mixin smallPod(isMarge,isLarge)
  - var _css = isMarge ? "ml":""
  .small-pod(class=_css)
    img(src="img/home/small-pod-img.png")
    .mask
      .h1 FALL 2014
      .h2-zh 芭蒂娜走秀视频
      .h2-en.fz-24 BADINA VIDEO


mixin smallPod1()
  .small-pod.ml
    img(src="img/home/small-pod-img.png")
    .mask-bottom
      img.txt(src="img/home/store-image-txt.png")

mixin smallPod3()
  .small-pod.ml
    img(src="img/home/small-pod-img-2.png")
    .mask-full
      img.txt(src="img/home/look-book-txt.png")

mixin largePod()
  .largePod
    img(src="img/home/large-pod-img.png")
    .mask
      .h1 AboutUs
      .h2-zh 品牌信息
      .h2-en BRAND INFO MATION

mixin smallPod4()
  .small-pod
    .mask-full
      img.txt(src="img/home/last-txt.png")



mixin veryLargePod()
  .very-large-pod
    img.bg-img(src="img/home/top-big.png")
    .mask
      img.img-txt(src="img/home/top-big-txt.png")
mixin lnk2(img,txt)
  .lnk
    img.fl(src=img)
    a
      img(src="img/home/txt/#{txt}")
  .clear

mixin lnk(img,txt)
  .lnk
    a
      img.fl(src="img/home/txt/#{img}")

  .clear

.page.active#home
  include _nav_bar
  ul#home-slider
    each item in [1,2,3,4,5]
      li
        .slider-entry
          img.bg(src="img/home/bg-1.jpg")
          .desc
            img.des(src="img/home/text-1.png")
            img.more(src="img/home/view-more.png")

  .section2#home-section-2
    a.move-top(href="#home-slider")
      img(src="img/home/move-top.png")
    .container
      .pod-row
        +veryLargePod()
        .clear
      .pod-row
        +smallPod1
        +smallPod3
        +smallPod4
        .clear

  .lnks#lnks
    .container
      .col
        .title
          img(src="img/home/txt/cantact.png")
        +lnk("address.png")
        +lnk("phone.png")
        +lnk("email.png")
      .col
        .title
          img(src="img/home/txt/socail.png")
        +lnk("weichart.png")
        +lnk("sina.png")
        +lnk("tmall.png")
      .col
        .title
          img(src="img/home/txt/links.png")
        a
          img(src="img/home/txt/colove.cc.png")
        .split
        img(src="img/home/txt/copyright.png")
