- var menus = [{en:"home",zh:"首页"},{en:"about",zh:"关于我们"},{en:"products",zh:"产品"},{en:"news",zh:"新闻"},{en:"shop",zh:"店铺展示"},{en:"lookbooks",zh:"展示"},{en:"vip",zh:"会员"},{en:"contact",zh:"联系我们"},]
.row.top-nav-bar
  img(src="img/home/logo-text.png").brand.fl
  .nav-contaner
    ul.nav
      each item in menus
        li
          a(href="##{item.en}" data-zh="#{item.zh}") #{item.en.toUpperCase()}
  .search-group.fr
    input.top-nav-search
    span.search-icon
.clear