//
   Created by I073349 on 8/28/2014.


mixin icon(src)
  a
    img(src=src)

.page-footer
  .split
  .desc.fl
    .ln1
      span xxxxxxxxxxxxxxxxxxxxx1
    .ln2
      span bbbbbbbbbbbbbbbbbbbbbbbb
  .icons.fr
    +icon("weixin.png")
    +icon("xinlang.png")
    +icon("tmall.png")
    +icon("mail.png")

