//
   Created by I073349 on 8/28/2014.


mixin icon(src)
  a
    img(src="img/topnavlight/#{src}")

.page-footer
  .split
  .desc.fl
    .ln1
      span © 2014 BADINA, LLC  /  Privacy Notice  /  Customer Service
    .ln2
      span Batina is an international brand, origin, in Hangzhou the lead designer is the international
  .icons.fr
    +icon("weixin.png")
    +icon("xinlang.png")
    +icon("tmall.png")
    +icon("mail.png")

