//script(src="js/xxx.js")

script(src='js/_home.js')
script(src='js/_about.js')
script(src='js/_news.js')
script(src='js/_shop.js')
script(src='js/_lookbooks.js')
script(src='js/_vip.js')
script(src='js/_contact.js')
