//script(src="js/xxx.js")
script(src='js/shop_address.js')
script(src='http://api.map.baidu.com/api?v=2.0&ak=rutfPnz3Sb4NhnRnaojX78UR')
script(src='js/_home.js')
script(src='js/_about.js')
script(src='js/_news.js')
script(src='js/_shop.js')
script(src='js/_lookbooks.js')
script(src='js/_vip.js')
script(src='js/_contact.js')
script(src='js/_products.js')

