doctype html
html
  include _header
  body
    .page-wrapper
      include _home
      include _about
      include _news
      include _shop
      include _lookbooks
      include _vip
      include _contact
    include _foot

